<div class="main-body-homepage">
<div class="main-illustration">
<%= image %>
</div>
  <div class="main-body-text">
      <%= title %>
      <%= text  %>
      <%= link_to "Read More...", link  %>
      <%= content %>
  </div>
</div>
