<%= render 'partials/hero' %>

<% if @document['homepage.main_image'] %>
    <div id="main-image">
      <style type="text/css">
          @media (min-width: 993px) {
              #main-image {
                  background-image: url('<%= @document['homepage.main_image'].get_view('large').url %>')
              }
          }

          @media (max-width: 992px) and (min-width: 768px) {
              #main-image {
                  background-image: url('<%= @document['homepage.main_image'].get_view('medium').url %>')
              }
          }

          @media (max-width: 767px) {
              #main-image {
                  background-image: url('<%= @document['homepage.main_image'].get_view('small').url %>')
              }
          }
      </style>
    </div>
<% end %>

<ul class="bullets">
  <% @features.each do |feature| %>
      <%= cell(:feature, feature).call %>
  <% end %>
</ul>

<hr>
<div class="scroll-on-page">
  <aside id="scroll-on-page-top">
    <% if @main_1 %>
        <a class="scroll-on-page-link" href="#scroll-link-1">
          <h4 id="scroll-link-1"><%= @main_1["article.title"].as_html_safe(link_resolver()) %> </h4>
        </a>
    <% end %>
    <% if @main_2 %>
        <a class="scroll-on-page-link" href="#scroll-link-2">
          <h4 id="scroll-link-2"><%= @main_2["article.title"].as_html_safe(link_resolver()) %> </h4>
        </a>
    <% end %>
    <% if @main_3 %>
        <a class="scroll-on-page-link" href="#scroll-link-3">
          <h4 id="scroll-link-3"><%= @main_3["article.title"].as_html_safe(link_resolver()) %> </h4>
        </a>
    <% end %>

    <div>


    </div>
  </aside>

  <article>
    <section>
      <h4 id="scroll-link-1"></h4>
      <% if @main_1 %>
          <%= @main_1.as_html_safe(link_resolver()) %>
          <hr>
      <% end %>
    </section>
    <section>
      <h4 id="scroll-link-2"></h4>
      <% if @main_2 %>
          <%= @main_2.as_html_safe(link_resolver()) %>
          <hr>
      <% end %>
    </section>
    <section>
      <% if @main_3 %>
          <h4 id="scroll-link-3"></h4>
          <%= @main_3.as_html_safe(link_resolver()) %>
      <% end %>
    </section>
    <a class="scroll-on-page-link" href="#scroll-on-page-top">Back to top</a>
  </article>
</div>

