<%= render 'partials/hero' %>


<hr>
<ul class="bullets">
  <li class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-1">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_4.png" alt="">
    </div>
    <div class="bullet-content">
       <h2>  <%= link_to "News", '/news'  %>  </h2>
      <% @news.first(3).each do |article| %>
          <% if cell(:news, article) %>
              <div class="link-title">
                <%= cell(:news, article).(:link)  %>
              </div>
          <% end %>
      <% end %>
    </div>
  </li>
  <li class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-1">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_4.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>    <%= link_to "Projects", '/project'  %>  </h2>
      <% @projects.first(3).each do |article| %>
          <% if cell(:project, article) %>
              <div class="link-title">
                <%= cell(:project, article).(:link)  %>
              </div>
          <% end %>
      <% end %>
    </div>
  </li>
  <li class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-1">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_4.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>    <%= link_to "Events", '/event'  %>  </h2>
      <% @events.each do |article| %>
          <% if cell(:event, article) %>
              <div class="link-title">
                <%= cell(:event, article).(:link)  %>
              </div>
          <% end %>
      <% end %>
    </div>
  </li>
</ul>
<hr />

<div class="scroll-on-page">


    <section>
      <% @main.each do |item| %>
          <%= cell(:main, item).call %>
      <% end %>

      </section>
    <a class="scroll-on-page-link" href="#scroll-on-page-top">Back to top</a>
</div>

