<!--<form action="/search" method="GET">-->
  <!--<input type="text" name="q" value="">-->
  <!--<input type="submit" value="Search">-->
<!--</form>-->
<!--<hr />-->
<%= render 'partials/hero' %>

<% if @document['homepage.main_image'] %>
   <div id="main-image">
     <style type="text/css">
        @media (min-width: 993px) {
          #main-image { background-image: url('<%= @document['homepage.main_image'].get_view('large').url %>') }
        }
        @media (max-width: 992px) and (min-width: 768px) {
          #main-image { background-image: url('<%= @document['homepage.main_image'].get_view('medium').url %>') }
        }
        @media (max-width: 767px) {
          #main-image { background-image: url('<%= @document['homepage.main_image'].get_view('small').url %>') }
        }
     </style>
   </div>
 <% end %>

  <ul class="bullets">
  <li class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-1">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_4.png" alt="">
    </div>
    <div class="bullet-content">
       <%= @feature.as_html_safe(link_resolver()) %>
           <%= cell(:feature, @feature).call %>
    </div>
  </li>
  <li class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-2">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_4.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Bridges</h2>
      <p>Main Street Mission is reaching out to build bridges in our community. We believe that we can help bring our community
      together so that those in times of crisis or insecurity can know that we are united in working together</p>
    </div>
  </li>
  <li class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-3">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_4.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Neighbors</h2>
      <p>We are all neighbors and at Main Street Mission we believe that by joining together neighbors can help neighbors
      and that together we can build a stronger community</p>
    </div>
  </li>
</ul>




<div class="grid-items-lines">
  <a href="javascript:void(0)" class="grid-item grid-item-big">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1_dark.png" alt="">
    <h1>Getting Ahead Class</h1>
    <p>The Getting Ahead Class is starting. Monday nights.</p>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="">
    <h1>Bridges Out of Poverty</h1>
    <p>Classes start again soon!</p>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png" alt="">
    <h1>Food Needed at the Mission</h1>
    <p>We alway need Food at the Mission.</p>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png" alt="">
    <h1>Volunteers Needed</h1>
    <p>We need volunteers to go to Second Harvest.</p>
  </a>
  <!--<a href="javascript:void(0)" class="grid-item grid-item-big">-->
    <!--<img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png" alt="">-->
    <!--<h1>Gala Event</h1>-->
    <!--<p>A Glorious Unfolding!</p>-->
  <!--</a>-->
</div>



