<!DOCTYPE html>
<html>
<head>
  <title>MSM</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>

  <%= render 'partials/nav' %>
</header>

<main>
  <a href="/">
    <h1>Main Street Mission</h1>
  </a>

<%= yield %>

<% # This file is required for Experiments and Previews. %>
<script src="//static.cdn.prismic.io/prismic.min.js"></script>
<% # You can safely remove this block if you don't use experiments - your Google Analytics block should be before this tag %>
<% render 'partials/experiments', :google_id => @google_id %>
</main>
</body>
</html>
