<!DOCTYPE html>
<html>
<head>
  <title>MSM</title>

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <% # This file is required for Experiments and Previews.  %>
  <script src="//static.cdn.prismic.io/prismic.min.js"></script>
  <% # You can safely remove this block if you don't use experiments - your Google Analytics block should be before this tag  %>
  <%= csrf_meta_tags %>

  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="//static.cdn.prismic.io/prismic.min.js"></script>

</head>

<header>

  <% render 'partials/experiments', :google_id => @google_id %>
  <%= render 'partials/nav' %>

</header>

<body>
<main>

  <%= yield %>

</main>
</body>
<%= render 'partials/footer' %>
</html>

